<h2>Registrarse</h2>

<a routerLink="../inicio-sesion">¿Ya tiene una cuenta? Inicie sesión aquí</a>
<form action="" method="post">
    <label for="nombre">Nombre de usuario:</label>
    <input type="text" name="nombreRegister" id="nombreRegister" maxlength="25" required><br><br>

    <label for="email">Correo electrónico:</label>
    <input type="email" name="emailRegister" id="emailRegister" required><br><br>

    <label for="contrasena">Contraseña:</label>
    <input type="password" name="contrasenaRegister" id="contrasenaRegister" required><br><br>

    <label for="contrasena2">Confirmar contraseña:</label>
    <input type="password" name="contrasenaRegister2" id="contrasenaRegister2"><br><br>

    <button type="submit"><i class="fa fa-check"></i> Enviar</button>
</form>
