<a routerLink="../inicio" class="close-form"><i class="fa-solid fa-xmark"></i></a>

<div class="formulario">
    <h4>Registro</h4>

    <form action="" method="post">
        <input type="text" name="nombre" id="nombre" class="control" placeholder="Nombre de usuario" maxlength="25" required>

        <input type="email" name="email" id="email" class="control" placeholder="Correo electrónico" maxlength="50" required>

        <input type="password" name="contraseña" id="contraseña" class="control" placeholder="Contraseña" maxlength="127" required>

        <input type="password" name="contraseña2" id="contraseña2" class="control" placeholder="Confirmar contraseña" maxlength="127" required>

        <button type="submit" class="form-btn">Registrarse</button>
    </form>

    <p><a routerLink="../iniciar-sesion">¿Ya tiene una cuenta? Iniciar sesión</a></p>
</div>
<div class="square"></div>