<h2>Foro de ideas</h2>

<article class="post">
    <h4>Título</h4>
    <small>23-06-2023</small>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Consectetur, explicabo expedita quae repudiandae ea voluptatum nesciunt iusto vero sapiente fugit ducimus molestiae accusamus! Itaque mollitia nesciunt sit doloremque voluptatem sed?</p>
</article>
<article class="post">
    <h4>Título</h4>
    <small>23-06-2023</small>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Consectetur, explicabo expedita quae repudiandae ea voluptatum nesciunt iusto vero sapiente fugit ducimus molestiae accusamus! Itaque mollitia nesciunt sit doloremque voluptatem sed?</p>
</article>
<article class="post">
    <h4>Título</h4>
    <small>23-06-2023</small>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Consectetur, explicabo expedita quae repudiandae ea voluptatum nesciunt iusto vero sapiente fugit ducimus molestiae accusamus! Itaque mollitia nesciunt sit doloremque voluptatem sed?</p>
</article>
<article class="post">
    <h4>Título</h4>
    <small>23-06-2023</small>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Consectetur, explicabo expedita quae repudiandae ea voluptatum nesciunt iusto vero sapiente fugit ducimus molestiae accusamus! Itaque mollitia nesciunt sit doloremque voluptatem sed?</p>
</article>
<article class="post">
    <h4>Título</h4>
    <small>23-06-2023</small>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Consectetur, explicabo expedita quae repudiandae ea voluptatum nesciunt iusto vero sapiente fugit ducimus molestiae accusamus! Itaque mollitia nesciunt sit doloremque voluptatem sed?</p>
</article>