<div class="contenedor">
    <h2 id="fdi" >Foro de ideas <h6 id="fdiSUB" >¡Publica alguna idea que quieras compartir!</h6></h2>

    <form id="tu-mensaje" action="" method="post">
        <input type="text" name="panel-de-titulo" id="panel-de-mensaje" placeholder="Titulo" maxlength="280" required>
        
        <input type="text" name="panel-de-nombre-de-usuario" id="panel-de-mensaje" placeholder="Nombre de usuario (opcional)" maxlength="20">
        
        <textarea name="panel-de-mensaje" id="panel-de-mensaje2" placeholder="Escriba un mensaje..." rows="4" cols="50"></textarea>

        <button type="submit" id="enviar-mensaje" class="form-btn">Enviar</button>
    </form>
    <article class="post">
        <h4 id="titulo">Título</h4>
        <p id="username">Username</p>
        <small id="fecha">23-06-2023</small>
        <p id="contenido">Lorem ipsum dolor sit amet consectetur adipisicing elit. Consectetur, explicabo expedita quae repudiandae ea voluptatum nesciunt iusto vero sapiente fugit ducimus molestiae accusamus! Itaque mollitia nesciunt sit doloremque voluptatem sed?</p>
    </article>
    <article class="post">
        <h4 id="titulo">Título</h4>
        <p id="username">Username</p>
        <small id="fecha">23-06-2023</small>
        <p id="contenido">Lorem ipsum dolor sit amet consectetur adipisicing elit. Consectetur, explicabo expedita quae repudiandae ea voluptatum nesciunt iusto vero sapiente fugit ducimus molestiae accusamus! Itaque mollitia nesciunt sit doloremque voluptatem sed?</p>
    </article>
    <article class="post">
        <h4 id="titulo">Título</h4>
        <p id="username">Username</p>
        <small id="fecha">23-06-2023</small>
        <p id="contenido">Lorem ipsum dolor sit amet consectetur adipisicing elit. Consectetur, explicabo expedita quae repudiandae ea voluptatum nesciunt iusto vero sapiente fugit ducimus molestiae accusamus! Itaque mollitia nesciunt sit doloremque voluptatem sed?</p>
    </article>
    <article class="post">
        <h4 id="titulo">Título</h4>
        <p id="username">Username</p>
        <small id="fecha">23-06-2023</small>
        <p id="contenido">Lorem ipsum dolor sit amet consectetur adipisicing elit. Consectetur, explicabo expedita quae repudiandae ea voluptatum nesciunt iusto vero sapiente fugit ducimus molestiae accusamus! Itaque mollitia nesciunt sit doloremque voluptatem sed?</p>
    </article>
</div>