<header *ngIf="shouldShow()">
    <button type="button" id="btn-menu" (click)="toggleMenu()"><i class="fa-solid fa-bars"></i></button>
    <h1>ReciclajeVGB</h1>
    <a routerLink="registro" id="btn-cuenta" (click)="closeMenu()"><i class="fa-solid fa-user"></i><span>Acceder</span></a>
</header>

<nav id="menu" [ngClass]="{'open': isMenuOpen}" *ngIf="shouldShow()">
    <img src="../assets/logo.png" alt="Logo">
    <ul>
        <li><a routerLink="" (click)="closeMenu()" tabindex="-1">Inicio</a></li>
        <li><a routerLink="problema" (click)="closeMenu()" tabindex="-1">¿Por qué es un problema?</a></li>
        <li><a routerLink="areas-contaminadas" (click)="closeMenu()" tabindex="-1">Áreas más contaminadas</a></li>
        <li><a routerLink="reciclar-basura" (click)="closeMenu()" tabindex="-1">Reciclar la basura</a></li>
        <li><a routerLink="motivar-ayudar" (click)="closeMenu()" tabindex="-1">Motivar a otros a ayudar</a></li>
        <li><a routerLink="foro-ideas" (click)="closeMenu()" tabindex="-1">Foro de ideas</a></li>
    </ul>
</nav>

<main>
    <router-outlet></router-outlet>
</main>

<footer *ngIf="shouldShow()">
    <p>&copy; ReciclajeVGB 2023. Todos los derechos reservados.</p>
</footer>
