<div class="contenedor">
    <h2>Inicio</h2>

    <p>Página oficial de VGB: <a href="https://villageneralbelgrano.gob.ar/">https://villageneralbelgrano.gob.ar/</a></p>
    <div class="video-container">
        <iframe width="1920" height="1080" src="https://www.youtube.com/embed/Cs0RL6X1LZE" title="Video Pagina" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
    </div>

    <p>Bienvenido a ReciclajeVGB, un lugar donde podrás informarte sobre la contaminación y como enfrentarla en Villa General Belgrano.</p>
    <p>En esta página tendremos una breve introducción de nosotros.</p>

    <h4>¿Quiénes somos?</h4>
    <p>Somos un grupo de estudiantes de la escuela ProA de VGB que comenzaron este proyecto como una forma de ayudar a nuestro hogar.</p>

    <h4>¿A qué nos dedicamos?</h4>
    <p>Nos dedicamos a estudiar programación y diseño de páginas web con la esperanza de algún día poder vivir de esto.</p>

    <h4>¿Cuál es nuestro objetivo?</h4>
    <p>Nuestro objetivo es lograr concientizar a las personas sobre el reciclaje de una manera más eficiente para así lograr un mejor lugar para vivir y ayudar a nuestro ecosistema y al turismo, que es la mayor fuente de ingresos de VGB.</p>

    <h4>¿Qué es lo que buscamos de tí?</h4>
    <p>Queremos que usted se tome unos minutos de su tiempo para leer nuestro sitio y lograr que nuestro mensaje le llegue. Si usted no está convencido, le recomendamos utilizar nuestro foro para dar su opinión.</p>
</div>