<h4>Inicio</h4>
<p>Bienvenido a ReciclajeVGB donde, un lugar donde podras informarte sobre la contaminacion y como enfrentarla en Villla General Belgrano </p>
<p>En esta paginna tendremos una breve introduccion de nosotros</p>
<h4>¿Quienes somos?</h4>
<p>Somos un grupo de estudiantes de la escuela proa de VGB los cuales comenzaron este proyecto como una forma ayudar a nuestro hogar</p>
<h4>¿A que nos dedicamos?</h4>
<p>Nos dedicamos a estudiar programacion y diseño de paginas web con la esperanza de algun dia poder vivir de esto</p>
<h4>¿Cual es nuestro objetivo?</h4>
<p>Nuestro objetivo es lograr concientizar a las personas sobre el reciclaje de una manera mas eficiente asi lograr un mejor lugar para vivir y asi ayudar a nuestro ecosistema y al turismo la cual es la mayor fuente de ingresos de VGB</p>
<h4>¿Que es lo que buscamos de ti?</h4>
<p>Queremos que usted se tome unos minutos de su tiempo en leer nuestro sitio para lograr que nuestro mensaaje le llegue, si usted no esta convencido le recomendamos utilizar nuestro foro para que usted de su opinion</p>
