<h2>¿Por qué es un problema?</h2>

<p>La contaminación ambiental es un fenómeno que afecta directa e indirectamente la salud de las poblaciones, no solo de los seres humanos, pues también altera el equilibrio de los ecosistemas. En general, las personas y los animales de vida silvestre están expuestos a mezclas de más de dos sustancias tóxicas.</p>

<h2>Contaminacion en el aire:</h2>

<p>La contaminacion del aire es la que mas afecta al ser humano esto debido a que puede causar problemas cardiovasculares, alergias, ataques de asma, conjuntivitis, enfermedades bronquiales, cáncer de pulmón o piel, problemas de visión, problemas sanguíneos en el desarrollo mental del niño, entre otros. Los más vulnerables son los niños, los ancianos, las mujeres embarazadas y los enfermos.</p>
<p>El aire contaminado, flotando en la superficie de la tierra, es arrastrado por el viento y la lluvia. Las nubes y las altas temperaturas también ayudan a dispersar la contaminación para alcanzar distancias muy grandes desde su punto de origen.</p>

<h2>Contaminacion del agua:</h2>

<p>La contaminación del agua ocurre cuando sustancias nocivas, a menudo productos químicos o microorganismos, contaminan un arroyo, río, lago, océano, acuífero u otro cuerpo de agua, degradando su calidad y volviéndola tóxica para los seres humanos o el medio ambiente.</p>
<p>La principal fuente de contaminación en los cuerpos de agua superficiales es la descarga de efluentes de aguas residuales domésticas e industriales sin un tratamiento adecuado.</p>

<h2>Contaminacion de la capa de ozono:</h2>

<p>Los clorofluorocarbonos, químicos que se encuentran principalmente en los spray en aerosol usados excesivamente por las naciones industrializadas en la mayor parte de los últimos 50 años, son los principales culpables del desgaste de la capa de ozono.</p>
<p>Las sustancias que agotan la capa de ozono (SAO) son sustancias químicas que tienen el potencial de reaccionar con las moléculas de ozono de la estratosfera. Las SAO son básicamente hidrocarburos clorados, fluorados o bromados e incluyen: Clorofluorocarbonos (CFC) Hidroclorofluorocarbonos (HCFC)</p>