<div class="contenedor">
    <h2>¿Por qué es un problema?</h2>

    <p>La contaminación ambiental es un fenómeno que afecta directa e indirectamente la salud de las poblaciones, no solo de los seres humanos, sino que también altera el equilibrio de los ecosistemas. En general, las personas y los animales de vida silvestre están expuestos a mezclas de más de dos sustancias tóxicas.</p>

    <h3>Contaminación del aire:</h3>
    <p>La contaminación del aire es la que más afecta al ser humano, esto se debe a que puede causar problemas cardiovasculares, alergias, ataques de asma, conjuntivitis, enfermedades bronquiales, cáncer de pulmón o piel, problemas de visión, problemas sanguíneos y afectar el desarrollo mental de los niños, entre otros. Los más vulnerables son los niños, los ancianos, las mujeres embarazadas y los enfermos.</p>
    <p>El aire contaminado, al flotar en la superficie de la tierra, puede ser arrastrado por el viento y la lluvia. Las nubes y las altas temperaturas también ayudan a dispersar la contaminación, permitiéndole alcanzar distancias muy grandes desde su punto de origen.</p>

    <h3>Contaminación del agua:</h3>
    <p>La contaminación del agua ocurre cuando sustancias nocivas, a menudo productos químicos o microorganismos, contaminan un arroyo, río, lago, océano, acuífero u otro cuerpo de agua, degradando su calidad y volviéndola tóxica para los seres humanos y el medio ambiente.</p>
    <p>La principal fuente de contaminación en los cuerpos de agua superficiales es la descarga de efluentes de aguas residuales domésticas e industriales sin un tratamiento adecuado.</p>

    <h3>Contaminación de la capa de ozono:</h3>
    <p>Los clorofluorocarbonos, químicos que se encuentran principalmente en los aerosoles en spray utilizados excesivamente por las naciones industrializadas en la mayor parte de los últimos 50 años, son uno de los principales culpables del desgaste de la capa de ozono.</p>
    <p>Las sustancias que agotan la capa de ozono (SAO) son sustancias químicas que tienen el potencial de reaccionar con las moléculas de ozono en la estratósfera. Las SAO son principalmente hidrocarburos clorados, fluorados o bromados e incluyen: Clorofluorocarbonos (CFC) y Hidroclorofluorocarbonos (HCFC).</p>
    <p>El uso y emisión de sustancias destructoras del ozono daña la capa de ozono en la estratósfera, lo cual permite el paso de un mayor nivel de radiación ultravioleta hasta la superficie de la tierra y causa efectos adversos en la salud de las personas.</p>
</div>