<header *ngIf="shouldShow()">
  <button id="btn-menu" (click)="openMenu()"><i class="fa-solid fa-bars"></i></button>
  <h1>ReciclajeVGB</h1>
  <a routerLink="registro"><button id="btn-cuenta"><i class="fa-solid fa-user"></i>Cuenta</button></a>
  <nav [ngClass]="{'open': isMenuOpen}" id="menu">
      <button id="btn-cerrar" (click)="closeMenu()"><i class="fa-solid fa-xmark"></i></button>
      <img src="../../assets/logo.png" alt="Logo" id="logo">
      <ul>
          <li><a routerLink="inicio" (click)="closeMenu()">Inicio</a></li>
          <li><a routerLink="problema" (click)="closeMenu()">¿Por qué es un problema?</a></li>
          <li><a routerLink="areas-contaminadas" (click)="closeMenu()">Áreas más contaminadas</a></li>
          <li><a routerLink="reciclar-basura" (click)="closeMenu()">Reciclar la basura</a></li>
          <li><a routerLink="motivar-ayudar" (click)="closeMenu()">Motivar a otros a ayudar</a></li>
          <li><a routerLink="foro-ideas" (click)="closeMenu()">Foro de ideas</a></li>
      </ul>
  </nav>
</header>

<main>
  <router-outlet></router-outlet>
</main>

<footer *ngIf="shouldShow()"></footer>