<a routerLink="" class="close-form" tabindex="-1"><i class="fa-solid fa-xmark"></i></a>

<div class="form p-4 rounded">
    <h2>Iniciar sesión</h2>

    <form action="" method="post">
        <input type="email" name="email" id="email" class="control" placeholder="Correo electrónico" maxlength="50" required>

        <input type="password" name="contraseña" id="contraseña" class="control" placeholder="Contraseña" maxlength="20" required>

        <button type="submit" class="form-btn mt-3 mb-3">Iniciar sesión</button>
    </form>

    <p><a routerLink="../registro">¿No tiene una cuenta? Registrarse</a></p>
</div>
