<a routerLink="../inicio" class="close-form"><i class="fa-solid fa-xmark"></i></a>

<div class="formulario">
    <h4>Iniciar sesión</h4>

    <form action="" method="post">
        <input type="text" name="nombreEmail" id="nombreEmail" class="control" placeholder="Usuario o correo electrónico" maxlength="50" required>

        <input type="password" name="contraseña" id="contraseña" class="control" placeholder="Contraseña" maxlength="127" required>

        <button type="submit" class="form-btn">Iniciar sesión</button>
    </form>

    <p><a routerLink="../registro">¿No tiene una cuenta? Registrarse</a></p>
</div>
<div class="square"></div>