<h2>Motivar a otros a ayudar</h2>
<p>Algunas formas son:</p>
<p>poner el ejemplo</p>
<p>Las acciones hablan más que las palabras y, a menudo, se reciben mejor. En lugar de decirles a sus compañeros de trabajo todas las razones por las que deben reducir, reutilizar y reciclar, muéstreles cómo reduce sus desechos.</p>
<p>comparta las ganancias</p>
<p>Algunas empresas de reciclaje pagan las materias primas. Latas de aluminio, botellas de plástico y alambre de cobre son solo algunos ejemplos. Si obtiene ganancias de los esfuerzos de reciclaje de su familia, vecindario u oficina, comparta las recompensas con todos.</p>
<p>Optar por materiales biodegradables</p>
<p>Cambiar los materiales contaminantes como el plástico por materiales biodegradables en el entorno</p>


<p>si quieres saber mas puedes ir a:</p>
<p>https://eligenio.com/es/blog/ideas-fomentar-reciclaje-empresas/#5-ideas-para-promover-el-reciclaje-en-el-trabajo</p>
<p>https://ecogreenequipment.com/es/5-ways-to-encourage-recycling/</p>

