<h2>Motivar a otros a ayudar</h2>

<p>Algunas formas son:</p>

<p>Poner el ejemplo. Las acciones hablan más que las palabras y, a menudo, se reciben mejor. En lugar de decirles a sus compañeros de trabajo todas las razones por las que deben reducir, reutilizar y reciclar, muéstreles cómo reduce sus desechos.</p>

<p>Compartir las ganancias. Algunas empresas de reciclaje pagan las materias primas, como latas de aluminio, botellas de plástico y alambre de cobre. Si obtiene ganancias de los esfuerzos de reciclaje de su familia, vecindario u oficina, comparta las recompensas con todos.</p>

<p>Hacer excursiones escolares a plantas de reciclaje para los menores.</p>

<p>Comprar solo los productos necesarios.</p>

<p>Optar por materiales biodegradables. Cambiar los materiales contaminantes como el plástico por materiales biodegradables en el entorno.</p>

<p>Reutilizar las bolsas de plástico tantas veces como puedas, y al final como bolsa de basura para llevar los envases al contenedor amarillo. Lleva al punto limpio los residuos especiales como aparatos eléctricos y electrónicos, bombillas, baterías, restos de pinturas, radiografías, aceite de cocina, etc.</p>

<p>Reciclar es importante para la vida cotidiana. Es nuestro planeta donde vivimos y van a vivir futuras generaciones, por lo tanto, es nuestro deber cuidarlo.</p>
