/* You can add global styles to this file, and also import other style files */
#menu {
    position: absolute;
    top: 30px;
    left: -300px;
    width: 300px;
    height: calc(100% - 30px);
}

#menu.open {
    left: 0;
}