<div class="container mt-5 mb-5 p-4 rounded">
    <h2>Foro de ideas</h2>
    <h6 id="foro-subtitulo">¡Publica alguna idea que quieras compartir!</h6>

    <form action="" method="post" id="postear" class="p-4 rounded">
        <input type="text" name="titulo" id="titulo" class="control" placeholder="Título" maxlength="250" required>

        <textarea name="mensaje" id="mensaje" rows="5" class="control" placeholder="Escriba un mensaje..." maxlength="15000" required></textarea>

        <button type="submit" id="enviar" class="form-btn">Enviar</button>
    </form>

    <article class="post rounded p-3 mt-5">
        <h4 id="post-titulo">Título</h4>
        <p id="nombre-usuario">Usuario</p>
        <small id="fecha">23-06-2023</small>
        <p id="contenido">Lorem ipsum dolor sit amet consectetur adipisicing elit. Consectetur, explicabo expedita quae repudiandae ea voluptatum nesciunt iusto vero sapiente fugit ducimus molestiae accusamus! Itaque mollitia nesciunt sit doloremque voluptatem sed?</p>
    </article>
    <article class="post rounded p-3 mt-4">
        <h4 id="post-titulo">Título</h4>
        <p id="nombre-usuario">Usuario</p>
        <small id="fecha">23-06-2023</small>
        <p id="contenido">Lorem ipsum dolor sit amet consectetur adipisicing elit. Consectetur, explicabo expedita quae repudiandae ea voluptatum nesciunt iusto vero sapiente fugit ducimus molestiae accusamus! Itaque mollitia nesciunt sit doloremque voluptatem sed?</p>
    </article>
    <article class="post rounded p-3 mt-4">
        <h4 id="post-titulo">Título</h4>
        <p id="nombre-usuario">Usuario</p>
        <small id="fecha">23-06-2023</small>
        <p id="contenido">Lorem ipsum dolor sit amet consectetur adipisicing elit. Consectetur, explicabo expedita quae repudiandae ea voluptatum nesciunt iusto vero sapiente fugit ducimus molestiae accusamus! Itaque mollitia nesciunt sit doloremque voluptatem sed?</p>
    </article>
    <article class="post rounded p-3 mt-4">
        <h4 id="post-titulo">Título</h4>
        <p id="nombre-usuario">Usuario</p>
        <small id="fecha">23-06-2023</small>
        <p id="contenido">Lorem ipsum dolor sit amet consectetur adipisicing elit. Consectetur, explicabo expedita quae repudiandae ea voluptatum nesciunt iusto vero sapiente fugit ducimus molestiae accusamus! Itaque mollitia nesciunt sit doloremque voluptatem sed?</p>
    </article>
</div>
