<h4>Reciclar la basura</h4>

<p>A la hora de generar basura, para reciclarla, tenemos que separar los residuos que se pueden reciclar de aquellos que no.</p>
<table>
    <thead>
        <tr>
            <th>Reciclables</th>
            <th>No reciclables</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Plásticos</td>
            <td>Pañales</td>
        </tr>
        <tr>
            <td>Tetrapak</td>
            <td>Residuos patogénicos</td>
        </tr>
        <tr>
            <td>Vidrio</td>
            <td>Cartones-papeles mojados</td>
        </tr>
        <tr>
            <td>Aluminio</td>
            <td>Bolsas de posta</td>
        </tr>
        <tr>
            <td>Cartón</td>
            <td>Chatarra</td>
        </tr>
    </tbody>
</table>
<p>Para facilitar el proceso de reciclaje, se recomienda utilizar una bolsa verde para los residuos reciclables y una bolsa negra para aquellos que no lo son. Luego, un camión se llevará los residuos no reciclables, y más tarde pasará otro para llevarse los residuos reciclables.</p>
<h4>Consecuencias de reciclar:</h4>
<p>Reciclar ayuda a disminuir la contaminación del aire y del agua, de tal forma que se ahorran materias primas y energía para hacer cosas nuevas. Por ejemplo, reciclar 4 botellas de vidrio equivale a ahorrar la energía de un refrigerador durante un día, o ahorrar el agua para lavar la ropa de 4 personas.</p>
<p>Se reduce la contaminación, proporcionando una atmósfera más limpia. Reciclando ayudamos a reducir el daño producido al medio ambiente. Se conserva el medio ambiente ya que permite reducir la cantidad de desechos sólidos que llegan a los vertederos.
</p>
<h4>Consecuencias de no reciclar:</h4>
<p>Si no recicláramos, los residuos aumentarían considerablemente hasta que no hubiera espacio para tratarlos y clasificarlos. Algunas ciudades contemporáneas ya se enfrentan a este problema. Esto podría generar más contaminación y problemas de salud derivados de la mala calidad del aire.</p>
<p>No reciclar tendría como consecuencia directa un aumento considerable de la producción de los productos que consumimos a diario, algo que supone un mayor uso de recursos naturales como el agua y la energía eléctrica. Llegaría un momento en que estos escasearían, subirían de precio y, a largo plazo, podrían desaparecer en ciertas regiones del mundo.</p>















