<h2>Reciclar la basura</h2>

<p>A la hora de generar basura, para reciclarla, tenemos que separar los residuos que se pueden reciclar de aquellos que no.</p>
<table>
    <tr>
        <th>Reciclables</th>
        <th>No reciclables</th>
    </tr>
    <tr>
        <td>Plásticos</td>
        <td>Pañales</td>
    </tr>
    <tr>
        <td>Tetrapak</td>
        <td>Residuos patogénicos</td>
    </tr>
    <tr>
        <td>Vidrio</td>
        <td>Cartones-papeles mojados</td>
    </tr>
    <tr>
        <td>Aluminio</td>
        <td>Bolsas de posta</td>
    </tr>
    <tr>
        <td>Cartón</td>
        <td>Chatarra</td>
    </tr>
</table>
<p>Para facilitar el proceso de reciclaje, se recomienda utilizar una bolsa verde para los residuos reciclables y una bolsa negra para aquellos que no lo son. Luego, un camión se llevará los residuos no reciclables, y más tarde pasará otro para llevarse los residuos reciclables.</p>
