<h2>Iniciar sesión</h2>

<a routerLink="../registro">¿No tiene una cuenta? Regístrese aquí</a>
<form action="" method="post">
    <label for="nombre">Nombre de usuario o correo electrónico:</label>
    <input type="text" name="nombreEmailLogin" id="nombreEmailLogin" required><br><br>

    <label for="contrasena">Contraseña:</label>
    <input type="password" name="contrasenaLogin" id="contrasenaLogin" required><br><br>

    <button type="submit"><i class="fa fa-check"></i> Enviar</button>
</form>
