#elNombre{
    margin-top: 10px;
}

.contenedor {
    background-color: #289646;
    max-width: fit-content;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
    padding: 20px;
    border-radius: 15px;
}

a {
    color: violet;
}

a:hover {
    color: purple;
}

input {
    width: 100%;
    padding: 5px;
    margin-bottom: 20px;
}

button {
    color: #fff;
    background-color:#289646;
    padding: 5px 10px;
    bottom: 20.7%;
    position: fixed;
    border: none;
    height: 10%;
    width: 23.63%;
    margin-top: 10px;
    border-radius: 15px;
}

button#escapar {
    left: 26.25%;
}

button#escapar:hover, button#enviar:hover {
    background-color: #3fb45e;
}

button#enviar {
    right: 26.25%;
}

#si {
    width: 1%;
}

button a {
    color: #fff;
}

h2 {
    margin-bottom: 10px;
}