* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

header {
    display: flex;
    background-color: rgb(40, 150, 70);
    justify-content: space-between;
    color: #fff;
    padding: 25px;
    align-items: center;
}

h1 {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    margin-bottom: 0;
    font-size: 50px;
}

a {
    text-decoration: none;
}

#menu {
    position: fixed;
    top: 0;
    left: -300px; /* Inicialmente oculto fuera del área visible */
    width: 300px;
    height: 100%;
    background-color: rgb(58, 183, 97);
    transition: left 0.3s ease-in-out;
}

#menu ul {
    list-style-type: none;
    padding-left: 0;
}

#menu ul li a {
    color: #fff;
    display: block;
    padding: 10px;
    line-height: 1.5;
}

#menu ul li a:hover {
    background-color: rgb(98, 213, 138);
}

#menu.open {
    left: 0; /* Mostrar el menú desplazándolo hacia la derecha */
}

#btn-menu, #btn-cerrar, #btn-cuenta, #btn-cuenta button {
    background: none;
    border: none;
    color: #fff;
    cursor: pointer;
}

#btn-menu {
    font-size: 40px;
}

#btn-cerrar {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 30px;
    width: 40px;
    height: 40px;
}

#btn-cuenta {
    border: 1px solid #fff;
    font-size: 20px;
    border-radius: 10px;
    height: fit-content;
}

#btn-cuenta:hover, #btn-cuenta button:hover {
    border-color: #81d4fd;
    color: #81d4fd;
}

#btn-cuenta button {
    padding: 10px;
}

#logo {
    width: 120px;
    display: block;
    margin: 20px auto;
}

footer {
    background-color: rgb(40, 150, 70);
    color: #fff;
    text-align: center;
    padding: 20px;
}

footer p {
    margin-bottom: 0;
}