<h2>Áreas más contaminadas</h2>
<p>En Argentina hay varias zonas con riesgo de contaminación. Estas son las provincias con mayor riesgo:</p>

<h3>Buenos Aires:</h3>
<p>En Buenos Aires se respira contaminantes generados por el uso de derivados del petróleo, como el gasoil que liberan colectivos y camiones. No podemos permitir que este tipo de energía continúe afectando la salud de los ciudadanos.</p>
<p>Los principales problemas ambientales que afectan a la población del AMBA son: inundaciones, ascensos regionales del nivel freático, disposición de residuos domiciliarios e industriales en rellenos sanitarios, minería de áridos, presencia de suelos expansivos y contaminación de suelos, agua y aire.</p>
<p>Los contaminantes que se monitorean actualmente son: monóxido y dióxido de nitrógeno (NO-NO2), monóxido de carbono (CO) y variables atmosféricas (velocidad y dirección de viento, temperatura y presión atmosférica).</p>

<h3>San Luis:</h3>
<p>Las actividades urbanas, industriales y agrícolas son en parte responsables de la contaminación del suelo y el agua. El uso por largos períodos de pesticidas o fertilizantes fosfatados que contienen trazas de cadmio contribuye al aumento de su concentración en el ambiente, lo cual incrementa el riesgo ecotoxicológico.</p>
<p>Las principales causas de contaminación son: erosión del suelo, voladuras del suelo, medanización, desertización, salinización y contaminación de agua en ríos por residuos o explotación mineral.</p>

<h3>Córdoba:</h3>
<p>La principal fuente son las emanaciones de combustibles generadas a altas temperaturas. También contaminan las actividades industriales, fertilizantes, combustión de biomasa y descomposición de materia orgánica.</p>
<p>Los principales contaminantes que pueden encontrarse en el aire de Córdoba son el dióxido de nitrógeno y el monóxido de nitrógeno, conocidos como NOx (NO/NO2): el NO es un contaminante primario que se emite al aire desde el tubo de escape de los automóviles o chimeneas industriales.</p>
<p>La contaminación más común y difundida es la que producen los pozos negros, que contaminan con materia fecal y desperdicios domésticos las napas subterráneas. Esa misma agua luego es extraída y se utiliza para consumo humano, provocando enfermedades.</p>

<h3>Chaco:</h3>
<p>La contaminación de las fuentes de agua en el Gran Chaco argentino reconoce orígenes diversos: las fumigaciones con agroquímicos, consecuencia directa de una deforestación que ya cubre cinco millones de hectáreas y que es seguida por la expansión de la agricultura y la ganadería intensivas, es la principal pero no la única; también se deben sumar los contaminantes provenientes de desechos industriales y explotaciones petroleras, metales pesados que descienden desde la cuenca alta del Pilcomayo, y arsénico diluido en las napas más profundas. Cuatro problemas que generan una mezcla explosiva y afectan a todos los ámbitos de la vida.</p>

<h3>San Juan:</h3>
<p>La contaminación se produciría por filtraciones desde pozos ciegos y, en mayor grado, por la recepción de los efluentes cloacales vertidos desde la planta depuradora del Bajo Segura hacia el Arroyo Los Tapones.</p>
<p>Desde hace más de una década el río San Juan ha sido foco de denuncias ciudadanas por contaminación debido a la pérdida de la biodiversidad dentro de las inmediaciones del río, así como las distintas afectaciones a más de 500 mil personas pertenecientes al municipio de San Juan del Río, en Querétaro.</p>

<h3>Mendoza:</h3>
<p>En el área central del Gran Mendoza, el 70% de las emisiones de los contaminantes principales provienen de las fuentes móviles. Las zonas industriales, localizadas sobre la periferia del área urbana, contribuyen con el otro 30%.</p>
<p>La contaminación en los canales de riego de Mendoza no es una situación nueva, es algo que hace años preocupa. Montañas de basura, bolsas de residuos que flotan, botellas y otros recipientes plásticos, electrodomésticos en desuso y hasta animales muertos.</p>
